<div class="container">
  <div #input>
      <div class="states">
          <div>Default</div>
          <div>Hover</div>
          <div>Focus</div>
          <div>Disabled</div>
      </div>
  </div>
  <div #button>
      <div class="states">
          <div>Default</div>
          <div>Hover</div>
          <div>Focus</div>
          <div>Active</div>
          <div>Disabled</div>
      </div>
  </div>
  <div #radio>
    <div class="states">
        <div>Default</div>
        <div>Hover</div>
        <div>Checked</div>
        <div>Unchecked</div>
        <div>Disabled</div>
    </div>
</div>
</div>